.card {
    margin: 20px;
    border: none !important;
}

.cardContent{
    background-color: #FAF9F6;
}

h2{
    text-align: center;
}

.same-size-input {
    height: 38px;
    margin: 1px;
}

.edit-user-div {
    margin: 20px;
}