
body {
    width: 100%;
    height: 100%;
    background-color: #eeeeee;
}

.content {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 160px;
    font-family: "Lato", sans-serif;
    font-size: 40px;
    line-height: 40px;
    color: rgba(0, 0, 0, 0.87);
}

.content__container {
    font-weight: 600;
    overflow: hidden;
    height: 40px;
    padding: 0 40px;
}

.content__container:before {
    content: "{";
    left: 0;
}

.content__container:after {
    content: "}";
    position: absolute;
    right: 0;
}

.content__container:after,
.content__container:before {
    position: absolute;
    top: 0;

    color: #c48b9f;
    font-size: 40px;
    line-height: 35px;

    -webkit-animation-name: opacity;
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: 1;
    animation-name: opacity;
    animation-duration: 4s;
    animation-iteration-count: 1;
}

.content__container__text {
    display: inline;
    float: left;
    margin: 0;
}

.content__container__list {
    margin-top: 0;
    padding-left: 110px;
    text-align: left;
    list-style: none;

    -webkit-animation-name: change;
    -webkit-animation-duration: 6s;
    -webkit-animation-iteration-count: infinite;
    animation-name: change;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

.content__container__list__item {
    line-height: 40px;
    margin: 0;
}


@-webkit-keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes change {
    0%,
    50%,
    100% {
        transform: translate3d(0, 0, 0);
    }

    25%,
    50% {
        transform: translate3d(0, -50%, 0);
    }
}

@-o-keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes change {
    0%,
    50%,
    100% {
        transform: translate3d(0, 0, 0);
    }

    25%,
    50% {
        transform: translate3d(0, -50%, 0);
    }
}

@-moz-keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes change {
    0%,
    50%,
    100% {
        transform: translate3d(0, 0, 0);
    }

    25%,
    50% {
        transform: translate3d(0, -50%, 0);
    }
}

@keyframes opacity {

    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes change {
    0%,
    35%,
    100% {
        transform: translate3d(0, 0, 0);
    }

    50%,
    85% {
        transform: translate3d(0, -50%, 0);
    }
}
